apiVersion: v1
kind: Secret
metadata:
  name: {{ include "outline.fullname" . }}-env
type: Opaque
stringData:
  SECRET_KEY: {{ .Values.outline.secretKey | quote }}
  UTILS_SECRET: {{ .Values.outline.utilsSecret | quote }}
  DB_PASS: {{ .Values.outline.database.password | quote }}
  REDIS_PASS: {{ .Values.outline.redis.password | quote }}
  DATABASE_URL: {{ printf "postgres://%s:%s@%s:%d/%s" .Values.outline.database.user (.Values.outline.database.password | urlquery) .Values.outline.database.host (.Values.outline.database.port | int) .Values.outline.database.name | quote }}
  {{- if .Values.outline.redis.password }}
  REDIS_URL: {{ printf "redis://:%s@%s:%d" (.Values.outline.redis.password | urlquery) .Values.outline.redis.host (.Values.outline.redis.port | int) | quote }}
  {{- else }}
  REDIS_URL: {{ printf "redis://%s:%d" .Values.outline.redis.host (.Values.outline.redis.port | int) | quote }}
  {{- end }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.outline.storage.s3.secretAccessKey | quote }}
  {{- if .Values.outline.oidc.enabled }}
  OIDC_CLIENT_SECRET: {{ .Values.outline.oidc.clientSecret | quote }}
  {{- end }}
