apiVersion: v1
kind: Secret
metadata:
  name: {{ include "outline.fullname" . }}-env
type: Opaque
stringData:
  SECRET_KEY: {{ .Values.outline.secretKey | quote }}
  UTILS_SECRET: {{ .Values.outline.utilsSecret | quote }}
  DB_PASS: {{ .Values.outline.database.password | quote }}
  REDIS_PASS: {{ .Values.outline.redis.password | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.outline.storage.s3.secretAccessKey | quote }}
  {{- if .Values.outline.oidc.enabled }}
  OIDC_CLIENT_SECRET: {{ .Values.outline.oidc.clientSecret | quote }}
  {{- end }}
